{% extends 'bath/base.html' %}

{% block title %}Bath Reservation{% endblock title %}

{% block content %}
<h1 class="border-bottom">
    Bath Reservation: <small>Login: {{ user.username }}</small>

    <div align="right">

        <a href="{% url 'bath:index' %}" class="btn btn-secondary btn-sm">Logout</a>
    </div>
</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Reserved Time</th>
                <th>Done</th>
            </tr>
        </thead>

        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.reserve_time }}</td>
                <td>
                    {% if member.done %}
                        <a href="{% url 'bath:done' member_id=member.id %}" class="btn btn-outline-info">Y</a>
                    {% else %}
                        <a href="{% url 'bath:done' member_id=member.id %}" class="btn btn-outline-danger">N</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'bath:reserve' %}" class="btn btn-primary btn-sm">Reserve</a>
    <a href="{% url 'bath:show_login_user' %}" class="btn btn-primary btn-sm">ShowUser</a>

{% endblock content %}