{% extends 'adminlte/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

    <div><a href="{% url 'hsapp:farmer_list' %}">Farmer List</a></div>
    <div><a href="{% url 'hsapp:create_farmer' %}">Create new farmer</a></div>
    <div><a href="#">Publish data for dealers</a></div>
    <div><a href="#">Norma</a></div>
    <div><a href="#">Products in the season</a></div>
    <div><a href="{% url 'hsapp:product_list' %}">Product List</a></div>
    <div><a href="{% url 'hsapp:plant_list' %}">Plant List</a></div>
    <div><a href="{% url 'hsapp:company_list' %}">Company List</a></div>

    <hr><br>
    <div><a href="{% url 'upload:load_csv' %}">Upload data</a></div>
    <p><a href="{% url 'account:logout' %}">Logout</a></p>

{% endblock content %}
