{% extends 'hsapp/base.html' %}

{% load static %}

{% block title %}Product List{% endblock title %}

{% block content %}
    <h2><a href="{% url 'hsapp:product_list' %}">Product List</a></h2>
    <form method="get" action="{% url 'hsapp:product_list' %}">
        <input type="text" value="" name="order_by">
        <input type="submit" value="Sort">
    </form>
    <br>
    <!--
    <form method="get" action="{% url 'hsapp:search_results_list' %}">
        <input type="test" name="q" placeholder="Search...">
        <input type="submit" value="Search">
    </form>
    --->

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th><a href="{% url 'hsapp:plant_list' %}">Plant</a></th>
                <th><a href="{% url 'hsapp:company_list' %}">company</a></th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in product_list%}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td><a href="{% url 'hsapp:plant_detail' pk=product.plant.id %}">{{ product.plant.name }}</a></td>
                <td><a href="{% url 'hsapp:company_detail' pk=product.company.id %}">{{ product.company.name }}</a></td>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock content %}
